
body
{
  background-color
}
h1
{
font-family: monospace;
}
h2
{
font-family: monospace;

}
h3
{
    font-style: oblique;

}

ol
{
  list-style-type: decimal;

}

strong
{
  font-size: 16px;
  font-style: bold;
  font-family: sans-serif;
}
ul
{
  font-family:sans-serif;
  font-style:bold;
}

h4
{
  padding: 0.6em;
  color: #ffffff;
  background-color:#207ED6;
  border-style: solid;
  border-color: #207ED6;
  border-width: 1px;
}
h4:hover
{
color: #ffffff;
text-shadow: 0.1em 0.1em 0.2em black;
border-color: #000000;
border-style: solid;
border-color: #207ED6;
border-width: 1px;
}

h4:active
{
  color: #fff;
  text-shadow: 0.1em 0.1em 0.2em black;
  border-color: #000000;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
}

h5
{

}

h6
{
  font-size: 14px;
}
