
body{
/*background-image:url("Website Background_.jpg");
opacity: 20;*/
background-color: #8f8f8f;


}
h1
{
font-family: monospace;
color: #F5070B;
text-align: center;
}
h2
{
font-family: monospace;
color: #F5070B;

}
h3
{
    font-style: oblique;

}
/*div
{
  color: #FFF;
  background-color:#207ED6;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;
  width: 200px;
  box-sizing: border-box;
  margin: 20px auto;

}*/

ol
{
  list-style-type: decimal;

}

strong, h5
{
  font-size: 16px;
  font-style: bold;
  font-family: sans-serif;
  text-decoration: underline;
  text-align: left;
}
ul
{
  font-family:sans-serif;
  font-style: bold;
  color: #221EFF;
  font-size: 18px;

}

/*{
  padding: 0.6em;
  color: #ffffff;
  background-color:#207ED6;
  border-style: solid;
  border-color: #207ED6;
  border-width: 1px;
}*/
h4:hover
{
color: #ffffff;
text-shadow: 0.01em 0.01em 0.02em;
border-color: #000000;
border-style: solid;
border-color: #207ED6;
border-width: 1px;
}

h4:active
{
  color: #fff;
  text-shadow: 0.1em 0.1em 0.2em black;
  border-color: #000000;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
}

h5
{
color: #1D9300;
font-size: 16px;
}

p
{

}

/**
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}*/
