
body
{
  color:
}
h1
{
font-family: monospace;
}
h2
{
font-family: monospace;
}
h3
{
    font-style: oblique;
    color: #FF0000;
}

ol
{
  list-style-type: decimal;

}
strong
{
  font-size: 22 px;
  font-style: bold;
  font-family: sans-serif;
}
